Django==1.6.5
Pillow==2.4.0
South==1.0
dj-database-url==0.3.0
dj-static==0.0.6
django-debug-toolbar==1.2.1
gunicorn==18.0
honcho==0.5.0
psycopg2==2.5.3
pystache==0.5.4
sqlparse==0.1.11
static==1.0.2
static3==0.5.1
stevedore==0.15
virtualenv==1.11.6
virtualenv-clone==0.2.5
virtualenvwrapper-powershell==12.7.8
wsgiref==0.1.2
