{#<!DOCTYPE html>#}
{#<html>#}
{#<head lang="en">#}
{#    <meta charset="UTF-8">#}
{#    <title></title>#}
{#</head>#}
{#<body>#}
{% for item in data %}
    <div class="row view_profile" data-id="{{ item.id }}" data-bla= 'hello' data-name="{{ item.name }}" style="margin-top: 2px; margin-bottom:2px; padding-left:0px; height:90px">
    <div class="col-md-4" style="padding:0px">
    <img class="img-responsive" src="http://graph.facebook.com/{{item.id}}/picture?width=100&height=100" width="80px" height="80px" style="padding-top: 4px; padding-bottom:5px; padding-left:5px">
    </div>
    <div class="col-md-8" style="padding-left:10px">
    <div data-name="{{ item.name }}" data-id="{{ item.id }}"><h4 style="color:#ffffff; margin-top:0px">{{ item.name }}</h4>
    </div>
            <button class= "btn btn-primary" id="postToFriend" data-id="{{ item.id }}" data-name="{{ item.name }}">Send feedback</button>

        </div>

    </div>

{% endfor %}
{##}
{#</body>#}
{#</html>#}