<h4 style="color:#F8561E; margin:2px">Welcome </h3>
<div class="row view_profile" data-id="{{ data.user_id }}" data-bla= 'hello' data-name="{{ data.name }}" style="margin-top: 2px; margin-bottom:2px; padding:4px; height:90px">
    <div class="col-md-4" style="padding:0px">
    <img class="img-responsive" src="http://graph.facebook.com/{{data.user_id}}/picture?width=100&height=100" width="80px" height="80px" style="border:2px solid white">
    </div>
    <div class="col-md-8" style="padding-left:10px">
    <div data-name="{{ data.name }}" data-id="{{ data.user_id }}"><h4 style="color:#ffffff; padding-top:7px">{{ data.name }}</h4>
    </div>
{#            <button class= "btn btn-primary" id="postToFriend" data-id="{{ item.id }}" data-name="{{ item.name }}">Send feedback</button>#}

        </div>

    </div>